
body {

    background-color: #f3f0e9;
    font-size: 16px;
    
    /* google fonts for lato */
}

  /* base font sizes for p and h tags and colors */
  p{
    font-size: 16px;
    font-family: "Karla", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


  h1, h2, h3{
    text-transform:uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    
  }

  h1{
    color: #fff;
    font-size: 2.027rem;
  }

  h2{
    color: #000000;
    font-size: 1.802rem;
    margin-top: 0;
  }

  h3{ 
    color: #d69e3d;
    font-size: 1.424rem;
    margin: 0;
    font-weight:400 ;
    justify-content: center;
  }
  /* image specs */
  img {
    width: 100%;
    height: auto;
  }

  button{
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Karla", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    height: 100%;
}

/* attribute for controlling the width of the containers */
.width-control {
    width: 95%;
    margin: auto;
    
}

/* header section */
header {
    background-color:#000000;
}


header .navi-bar{
    display: flex;  
}


header .navi-bar > li {
    margin: 1rem;
    list-style-type: none;
}

header .navi-bar > li > a{
    color: #fff;
    text-decoration: none;      
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    justify-content:center;

}



.coffee-intro{
   /* flexbox portion of the container */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background image part of the container */
    background-image: url(/images/hero-background.jpg);
    height: 60vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    background-color: rgba(0, 0, 0, 0.5);
}
.coffee-intro p{
    color: #fff;
    font-size: 16px;
}
.coffee-intro h1{
    font-size: 32px;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal; 
}
.coffee-intro button{
   background-color: #fff; 
   text-transform: uppercase;
   padding: 3%;
   display: block;
}

.experience .image-container{
        display: grid;
        grid-template-areas: 
        "box1 box1"
        "box1 box1"
        "box2 box3"
        "box4 box5"
        ;
        grid-template-columns: auto auto;
    }

.offers{
    text-align: center;
}
.offers img{
    width: 50%;
}

.menu{
    display: flex;
    width: 100%;
    text-align: center;
    margin: 1rem;
    height: 80vh;
    background-image: url(/images/coffee-shop.jpeg);
    background-size: cover;
}

.menu h2{
    color:#fff;
    font-weight: 600;
    margin-bottom: 2rem;
}

.menu h3{
    margin-top: 4rem;
}

.menu button {
    margin-bottom: 1rem;
    padding:0.9rem;
    font-weight: 700;
}

.menu .black-btn {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
}

.testimonies{
    background-color: #000000;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-bottom: 0;
}

.grid-group{
    display:grid;
    grid-template-rows: auto auto auto;
}
.testimonies h2{
        color: #fff;
    }
.testimonies q {
        color:#fff;
    }
.testimonies cite{
        color: #fff;
    }
.testimonies .quote-container{
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 75%;
        text-transform: uppercase;
    }
.testimonies .quote1{
        background-image: url(images/testimonial-1.jpeg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        height: 65vh;
        margin-bottom: 1rem;
    }
.testimonies .quote2{
        background-image: url(images/testimonial-2.jpeg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center 0%;
        height: 65vh;
        margin-bottom: 2%;
    }
.testimonies .quote3{
        background-image: url(images/testimonial-3.jpeg);
        background-size: 100%;
        background-position: center 0;
        background-repeat: no-repeat;
        height: 65vh;
        margin-bottom: 2%;
    }

footer {    
    background-color: #000000;
    color: #fff;
    margin-top: 0;
}
